src/wsdl/localhost_8080/AccesoAppWebService/AccesoAppWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.gestionaplicaciones.aplicaciones.ambiente.gob.ar/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.gestionaplicaciones.aplicaciones.ambiente.gob.ar/">

<xs:element name="verAplicaciones" type="tns:verAplicaciones"/>

<xs:element name="verAplicacionesResponse" type="tns:verAplicacionesResponse"/>

<xs:element name="verUsuariosPorApp" type="tns:verUsuariosPorApp"/>

<xs:element name="verUsuariosPorAppResponse" type="tns:verUsuariosPorAppResponse"/>

<xs:complexType name="verAplicaciones">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="verAplicacionesResponse">
<xs:sequence>
<xs:element name="return" type="tns:aplicacion" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aplicacion">
<xs:sequence>
<xs:element name="areaReferente" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="rutaImagen" type="xs:string" minOccurs="0"/>
<xs:element name="url" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verUsuariosPorApp">
<xs:sequence>
<xs:element name="idApp" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verUsuariosPorAppResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="nombreCompleto" type="xs:string" minOccurs="0"/>
<xs:element name="persona" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>