docs/Gestion Territorial/contratoServicios/CentrosPobladosWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.gestionterritorial.servicios.ambiente.gob.ar/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.gestionterritorial.servicios.ambiente.gob.ar/" name="CentrosPobladosWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.gestionterritorial.servicios.ambiente.gob.ar/" schemaLocation="http://localhost:8080/CentrosPobladosWebService/CentrosPobladosWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="verEspecifRegion">
<part name="parameters" element="tns:verEspecifRegion"/>
</message>
<message name="verEspecifRegionResponse">
<part name="parameters" element="tns:verEspecifRegionResponse"/>
</message>
<message name="buscarCentrosPorDepto">
<part name="parameters" element="tns:buscarCentrosPorDepto"/>
</message>
<message name="buscarCentrosPorDeptoResponse">
<part name="parameters" element="tns:buscarCentrosPorDeptoResponse"/>
</message>
<message name="buscarDeptosPorProvincia">
<part name="parameters" element="tns:buscarDeptosPorProvincia"/>
</message>
<message name="buscarDeptosPorProvinciaResponse">
<part name="parameters" element="tns:buscarDeptosPorProvinciaResponse"/>
</message>
<message name="buscarMunicipiosPorId">
<part name="parameters" element="tns:buscarMunicipiosPorId"/>
</message>
<message name="buscarMunicipiosPorIdResponse">
<part name="parameters" element="tns:buscarMunicipiosPorIdResponse"/>
</message>
<message name="buscarRegionesPorEspecif">
<part name="parameters" element="tns:buscarRegionesPorEspecif"/>
</message>
<message name="buscarRegionesPorEspecifResponse">
<part name="parameters" element="tns:buscarRegionesPorEspecifResponse"/>
</message>
<message name="verTiposCentros">
<part name="parameters" element="tns:verTiposCentros"/>
</message>
<message name="verTiposCentrosResponse">
<part name="parameters" element="tns:verTiposCentrosResponse"/>
</message>
<message name="buscarCentroPoblado">
<part name="parameters" element="tns:buscarCentroPoblado"/>
</message>
<message name="buscarCentroPobladoResponse">
<part name="parameters" element="tns:buscarCentroPobladoResponse"/>
</message>
<message name="buscarCentrosPorDeptoYTipo">
<part name="parameters" element="tns:buscarCentrosPorDeptoYTipo"/>
</message>
<message name="buscarCentrosPorDeptoYTipoResponse">
<part name="parameters" element="tns:buscarCentrosPorDeptoYTipoResponse"/>
</message>
<message name="buscarCentrosPorProvYTipo">
<part name="parameters" element="tns:buscarCentrosPorProvYTipo"/>
</message>
<message name="buscarCentrosPorProvYTipoResponse">
<part name="parameters" element="tns:buscarCentrosPorProvYTipoResponse"/>
</message>
<message name="buscarCentrosPorRegionYTipo">
<part name="parameters" element="tns:buscarCentrosPorRegionYTipo"/>
</message>
<message name="buscarCentrosPorRegionYTipoResponse">
<part name="parameters" element="tns:buscarCentrosPorRegionYTipoResponse"/>
</message>
<message name="buscarMunicipiosPorProvincia">
<part name="parameters" element="tns:buscarMunicipiosPorProvincia"/>
</message>
<message name="buscarMunicipiosPorProvinciaResponse">
<part name="parameters" element="tns:buscarMunicipiosPorProvinciaResponse"/>
</message>
<message name="buscarRegionesPorProvincia">
<part name="parameters" element="tns:buscarRegionesPorProvincia"/>
</message>
<message name="buscarRegionesPorProvinciaResponse">
<part name="parameters" element="tns:buscarRegionesPorProvinciaResponse"/>
</message>
<message name="buscarProvinciasPorRegion">
<part name="parameters" element="tns:buscarProvinciasPorRegion"/>
</message>
<message name="buscarProvinciasPorRegionResponse">
<part name="parameters" element="tns:buscarProvinciasPorRegionResponse"/>
</message>
<message name="buscarCentrosPorNomCpNomDto">
<part name="parameters" element="tns:buscarCentrosPorNomCpNomDto"/>
</message>
<message name="buscarCentrosPorNomCpNomDtoResponse">
<part name="parameters" element="tns:buscarCentrosPorNomCpNomDtoResponse"/>
</message>
<message name="verProvincias">
<part name="parameters" element="tns:verProvincias"/>
</message>
<message name="verProvinciasResponse">
<part name="parameters" element="tns:verProvinciasResponse"/>
</message>
<portType name="CentrosPobladosWebService">
<operation name="verEspecifRegion">
<input wsam:Action="http://ws.gestionterritorial.servicios.ambiente.gob.ar/CentrosPobladosWebService/verEspecifRegionRequest" message="tns:verEspecifRegion"/>
<output wsam:Action="http://ws.gestionterritorial.servicios.ambiente.gob.ar/CentrosPobladosWebService/verEspecifRegionResponse" message="tns:verEspecifRegionResponse"/>
</operation>
<operation name="buscarCentrosPorDepto">
<input wsam:Action="http://ws.gestionterritorial.servicios.ambiente.gob.ar/CentrosPobladosWebService/buscarCentrosPorDeptoRequest" message="tns:buscarCentrosPorDepto"/>
<output wsam:Action="http://ws.gestionterritorial.servicios.ambiente.gob.ar/CentrosPobladosWebService/buscarCentrosPorDeptoResponse" message="tns:buscarCentrosPorDeptoResponse"/>
</operation>
<operation name="buscarDeptosPorProvincia">
<input wsam:Action="http://ws.gestionterritorial.servicios.ambiente.gob.ar/CentrosPobladosWebService/buscarDeptosPorProvinciaRequest" message="tns:buscarDeptosPorProvincia"/>
<output wsam:Action="http://ws.gestionterritorial.servicios.ambiente.gob.ar/CentrosPobladosWebService/buscarDeptosPorProvinciaResponse" message="tns:buscarDeptosPorProvinciaResponse"/>
</operation>
<operation name="buscarMunicipiosPorId">
<input wsam:Action="http://ws.gestionterritorial.servicios.ambiente.gob.ar/CentrosPobladosWebService/buscarMunicipiosPorIdRequest" message="tns:buscarMunicipiosPorId"/>
<output wsam:Action="http://ws.gestionterritorial.servicios.ambiente.gob.ar/CentrosPobladosWebService/buscarMunicipiosPorIdResponse" message="tns:buscarMunicipiosPorIdResponse"/>
</operation>
<operation name="buscarRegionesPorEspecif">
<input wsam:Action="http://ws.gestionterritorial.servicios.ambiente.gob.ar/CentrosPobladosWebService/buscarRegionesPorEspecifRequest" message="tns:buscarRegionesPorEspecif"/>
<output wsam:Action="http://ws.gestionterritorial.servicios.ambiente.gob.ar/CentrosPobladosWebService/buscarRegionesPorEspecifResponse" message="tns:buscarRegionesPorEspecifResponse"/>
</operation>
<operation name="verTiposCentros">
<input wsam:Action="http://ws.gestionterritorial.servicios.ambiente.gob.ar/CentrosPobladosWebService/verTiposCentrosRequest" message="tns:verTiposCentros"/>
<output wsam:Action="http://ws.gestionterritorial.servicios.ambiente.gob.ar/CentrosPobladosWebService/verTiposCentrosResponse" message="tns:verTiposCentrosResponse"/>
</operation>
<operation name="buscarCentroPoblado">
<input wsam:Action="http://ws.gestionterritorial.servicios.ambiente.gob.ar/CentrosPobladosWebService/buscarCentroPobladoRequest" message="tns:buscarCentroPoblado"/>
<output wsam:Action="http://ws.gestionterritorial.servicios.ambiente.gob.ar/CentrosPobladosWebService/buscarCentroPobladoResponse" message="tns:buscarCentroPobladoResponse"/>
</operation>
<operation name="buscarCentrosPorDeptoYTipo">
<input wsam:Action="http://ws.gestionterritorial.servicios.ambiente.gob.ar/CentrosPobladosWebService/buscarCentrosPorDeptoYTipoRequest" message="tns:buscarCentrosPorDeptoYTipo"/>
<output wsam:Action="http://ws.gestionterritorial.servicios.ambiente.gob.ar/CentrosPobladosWebService/buscarCentrosPorDeptoYTipoResponse" message="tns:buscarCentrosPorDeptoYTipoResponse"/>
</operation>
<operation name="buscarCentrosPorProvYTipo">
<input wsam:Action="http://ws.gestionterritorial.servicios.ambiente.gob.ar/CentrosPobladosWebService/buscarCentrosPorProvYTipoRequest" message="tns:buscarCentrosPorProvYTipo"/>
<output wsam:Action="http://ws.gestionterritorial.servicios.ambiente.gob.ar/CentrosPobladosWebService/buscarCentrosPorProvYTipoResponse" message="tns:buscarCentrosPorProvYTipoResponse"/>
</operation>
<operation name="buscarCentrosPorRegionYTipo">
<input wsam:Action="http://ws.gestionterritorial.servicios.ambiente.gob.ar/CentrosPobladosWebService/buscarCentrosPorRegionYTipoRequest" message="tns:buscarCentrosPorRegionYTipo"/>
<output wsam:Action="http://ws.gestionterritorial.servicios.ambiente.gob.ar/CentrosPobladosWebService/buscarCentrosPorRegionYTipoResponse" message="tns:buscarCentrosPorRegionYTipoResponse"/>
</operation>
<operation name="buscarMunicipiosPorProvincia">
<input wsam:Action="http://ws.gestionterritorial.servicios.ambiente.gob.ar/CentrosPobladosWebService/buscarMunicipiosPorProvinciaRequest" message="tns:buscarMunicipiosPorProvincia"/>
<output wsam:Action="http://ws.gestionterritorial.servicios.ambiente.gob.ar/CentrosPobladosWebService/buscarMunicipiosPorProvinciaResponse" message="tns:buscarMunicipiosPorProvinciaResponse"/>
</operation>
<operation name="buscarRegionesPorProvincia">
<input wsam:Action="http://ws.gestionterritorial.servicios.ambiente.gob.ar/CentrosPobladosWebService/buscarRegionesPorProvinciaRequest" message="tns:buscarRegionesPorProvincia"/>
<output wsam:Action="http://ws.gestionterritorial.servicios.ambiente.gob.ar/CentrosPobladosWebService/buscarRegionesPorProvinciaResponse" message="tns:buscarRegionesPorProvinciaResponse"/>
</operation>
<operation name="buscarProvinciasPorRegion">
<input wsam:Action="http://ws.gestionterritorial.servicios.ambiente.gob.ar/CentrosPobladosWebService/buscarProvinciasPorRegionRequest" message="tns:buscarProvinciasPorRegion"/>
<output wsam:Action="http://ws.gestionterritorial.servicios.ambiente.gob.ar/CentrosPobladosWebService/buscarProvinciasPorRegionResponse" message="tns:buscarProvinciasPorRegionResponse"/>
</operation>
<operation name="buscarCentrosPorNomCpNomDto">
<input wsam:Action="http://ws.gestionterritorial.servicios.ambiente.gob.ar/CentrosPobladosWebService/buscarCentrosPorNomCpNomDtoRequest" message="tns:buscarCentrosPorNomCpNomDto"/>
<output wsam:Action="http://ws.gestionterritorial.servicios.ambiente.gob.ar/CentrosPobladosWebService/buscarCentrosPorNomCpNomDtoResponse" message="tns:buscarCentrosPorNomCpNomDtoResponse"/>
</operation>
<operation name="verProvincias">
<input wsam:Action="http://ws.gestionterritorial.servicios.ambiente.gob.ar/CentrosPobladosWebService/verProvinciasRequest" message="tns:verProvincias"/>
<output wsam:Action="http://ws.gestionterritorial.servicios.ambiente.gob.ar/CentrosPobladosWebService/verProvinciasResponse" message="tns:verProvinciasResponse"/>
</operation>
</portType>
<binding name="CentrosPobladosWebServicePortBinding" type="tns:CentrosPobladosWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="verEspecifRegion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarCentrosPorDepto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarDeptosPorProvincia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarMunicipiosPorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarRegionesPorEspecif">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verTiposCentros">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarCentroPoblado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarCentrosPorDeptoYTipo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarCentrosPorProvYTipo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarCentrosPorRegionYTipo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarMunicipiosPorProvincia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarRegionesPorProvincia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarProvinciasPorRegion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarCentrosPorNomCpNomDto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verProvincias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CentrosPobladosWebService">
<port name="CentrosPobladosWebServicePort" binding="tns:CentrosPobladosWebServicePortBinding">
<soap:address location="http://localhost:8080/CentrosPobladosWebService/CentrosPobladosWebService"/>
</port>
</service>
</definitions>